<%- include('components/header'); -%>
<style>
    .light-blue-gradient {
        background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    }
    
    .card {
        margin-top: 1em;
        text-align: center;
        height: 25em;
    }
    
    .container {
        margin-top: 70px;
    }

    .navbar-brand {
        padding-left: 2em;
    }
</style>
<div class="container" style="flex-direction: column;">
        <% if (user) { %>
            <h1>Welcome, <%= user.name %></h1>
        <% } else { %>
            <h1>Welcome user</h1>
            <br>
            <div style="color:white;"><h1>U0VDVEZ7aDFkZDNuXzFuX3BsNDFuXzUxZ2g3fQ==</h1></div>
        <% } %>
</div>

<%- include('components/footer'); -%>